<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Penduduk by NIK</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>
<body>
 <div th:replace="fragments/header"></div>
 <br />
 <div id="cari" style="margin-left: 80px; margin-right: 80px">
  <h3>Sistem Informasi Kependudukan Online Provinsi DKI Jakarta</h3>
  <h6>Selamat datang di Sistem Informasi Kependudukan Online
   Provinsi DKI Jakarta</h6>
  <hr />
  <div class="form-group" style="margin-right:50%">
  <h5>Lihat Data Penduduk Berdasarkan NIK</h5>
   <h6>Masukkan Nomor Induk Kependudukan</h6>
   <form th:action="@{'/penduduk'}" method="get" id="contact_form">
    <input type="text" class="form-control" id="nik" name="nik"
     placeholder="Search" required="required"/><br/>

    <button type="submit" value="submit" id="submitnik" name="submitnik"
     class="btn btn-sm">Search</button>
   </form>
   <br/>
   <h5>Lihat Data Keluarga Berdasarkan NKK</h5>
   <h6>Masukkan Nomor Kartu Keluarga</h6>
   <form th:action="@{'/keluarga'}" method="get" id="contact_form">
    <input type="text" class="form-control" id="nomor_kk" name="nomor_kk"
     placeholder="Search" required="required"/><br/>

    <button type="submit" value="submit" id="submitnkk" name="submitnkk"
     class="btn btn-sm">Search</button>
   </form>
  </div>
 </div>
 <div th:replace="fragments/footer"></div>
</body>
</html>